<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> App Login </title>
        <link rel="stylesheet" href="/static/style.css">

    </head>

    <body>

        <div class="login_body">

            <form method = 'post' action='/login'>


                <h1> My Blog </h1>
                <h3> Login to my account </h3>
                <p> Username: <input type="text" name="userName" placeholder="Username" required> </p>
                <p> Password: <input type="password" name="userPassword" placeholder="Password" required> </p>
                <p> <button type="submit"> Login </button> </p>

            </form>

        </div>

    </body>

</html>