<html>

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Day {day} </title>
    <link rel="stylesheet" href="/static/css/{template}.css">

  </head>

  <body>

    <div class="background-container">
      
      <div class="content-container">
      
        <h1> <em> Hello World! </em> </h1>
        <h3> <em> Day {day} </em> </h3>
        <p> {date} </p>
        <p> {text} </p>
        
      </div>
      
    </div>
    
  </body>

</html>
